{
  "trailingComma": "none",
  "tabWidth": 4,
  "printWidth": 150,
  "useTabs": false,
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": {
        "parser": "html"
      }
    }
  ]
}
